<ion-view view-title="Playlist">

	<ion-content>
	
	<div class="bar bar-header bar-light">
		<h1 class="title">Gestion des listes de chansons et horraires de lancement</h1>
	</div>

	<div class="body_bis">
		<div class="row ">
		 	<div class="col">
				  <div class="row">Horraire actuel pour le lancement de cette liste</div>
				  <div class="row">
					<ionic-timepicker input-obj="timePickerObject">
					  <button class="button button-block button-positive overflowShow">
					    <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
					  </button>
					</ionic-timepicker>
				  </div>
				  <div class="row">
				  	<a href="#/playlistadd">
					  	<button class="button button-full button-positive">
						  Ajouter chanson
						</button>
					</a>
				  </div>
				  <!--<div class="row">
				  	<button class="button button-full button-positive">
					  Ajouter chanson Youtube
					</button>
				  </div>-->
		 	</div>
		  	<div class="col col-75">
		  		<div class="row">
		  			<button class="button button-block">
					  Liste : Matin
					</button>
					<button class="button button-block">
					  Liste : Après-midi
					</button>
		  		</div>
		  		<div class="row">
		  		<div class="button-bar">
				  <span class="button button-positive">Renommer la liste</span>
				  <span class="button button-positive">Supprimer la liste</span>
				  <span class="button button-positive">Ajouter une liste</span>
				</div>
				</div>
				<div class="list" style="border: 3px solid $color2; padding-bottom: 10px; height: 65vh;  padding-bottom: 10px; overflow-y:scroll;">
				    <span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span>

				    <span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span>
				    <span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span>
				    <span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span>
				    <span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span><span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span><span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span><span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span><span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span><span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span><span class="item item-thumbnail-left item-button-right">
				      <img src="cover.jpg">
				      <h2>La vie en rose</h2>
				      <p>Edith Piaf</p>

				      <button class="button button-large button-positive">
					      <i class="icon ion-trash-a"></i>
					  </button>
				    </span>
				</div>
		  	</div>
		</div>
	</div>

	</ion-content>
</ion-view>