<ion-view view-title="Start">

	<ion-content>
	
	<!--<div class="bar bar-header bar-light">
		<h1 class="title">Bienvenue</h1>
	</div>-->

	<div class="body_bis">
		<div class="row ">
			<video width="400" height="222" controls="controls">
				<!--<source src="chansons/Cavernae_Terragen2.mp4" type="video/mp4" />
				<source src="chansons/Cavernae_Terragen2.webm" type="video/webm" />
				<source src="chansons/Cavernae_Terragen2.theora.ogv" type="video/ogg" />-->
				  <object type="application/x-shockwave-flash" width="400" height="222" data="http://www.youtube.com/v/HVMoJqg41Bw">
					<param name="movie" value="http://www.youtube.com/v/HVMoJqg41Bw" />
					<param name="wmode" value="transparent" />
					  Vous n'avez pas de navigateur moderne, ni Flash installé...
				 </object>
			</video>
		</div>		 
	</div>

	</ion-content>
</ion-view>